* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #0E5FDD;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --grayDark: #141414;
  --white: #FFFFFF;
  --frontEnd: #0E5FDD;
  --backEnd: #0E5FDD;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 


#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
  display:flex;
  flex-direction: column;
}